<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>test 2 결과</h1>
    <div><span><%= username%></span>님 환영합니다</div>
    <div><span>성별은<%= s%></span></div>
    <div>나이는<span><%= year%><span>년<%= month%><span>월<%= day%></span>일</div>
    <div><span>취미는<%= hobby%></span></div>
    <div><span>좋아하는색<%= color%></span></div>
    <div><span>좋아하는숫자<%= number%></span></div>


    
</body>
</html>